body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#content {
    margin-top: 50px;
}

button, input {
    background-color: #1f1f1f;
    border: 1px solid #333;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #333;
}

input {
    font-size: 16px;
    width: 250px;
    text-align: center;
}

.stage {
    margin: 20px;
}

#hint, #js-puzzle {
    font-size: 18px;
    margin-bottom: 20px;
}
